@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}
body {
    background: black;
    color: white;
}

@layer utilities {
  .border-white\/5 {
    border-color: rgb(255 255 255 / 0.05);
  }
  .border-white\/10 {
    border-color: rgb(255 255 255 / 0.1);
  }
  .border-white\/20 {
    border-color: rgb(255 255 255 / 0.2);
  }
  .bg-white\/5 {
    background-color: rgb(255 255 255 / 0.05);
  }
  .bg-white\/10 {
    background-color: rgb(255 255 255 / 0.1);
  }
  .bg-white\/20 {
    background-color: rgb(255 255 255 / 0.2);
  }
  .bg-black\/50 {
    background-color: rgb(0 0 0 / 0.5);
  }
  .bg-black\/60 {
    background-color: rgb(0 0 0 / 0.6);
  }
  .bg-black\/70 {
    background-color: rgb(0 0 0 / 0.7);
  }
  .bg-black\/20 {
    background-color: rgb(0 0 0 / 0.2);
  }
  .bg-black\/15 {
    background-color: rgb(0 0 0 / 0.15);
  }
}
