---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';


export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---


<!doctype html>
<html lang="en">
	<!-- <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head> -->
	<head>
		<BaseHead {...seo} />
		<slot name="head-bottom" />
	  </head>
	<body>
		<slot name="header" />
		<div class="layout">
		  <aside class="sidebar">
			<slot name="sidebar" />
		  </aside>
		  <main class="content">
			<slot />
		  </main>
		</div>
		<slot name="footer" />
	  </body>
</html>

<style>

</style>


